body{
	background-image: url(https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80);
	background-size: cover;

}


form{
	margin-top: 2%;
	margin-left:2%;
	background: white;
	width:40%;
	padding:20px;
}


select option{
	color:white;
}

#inform_user div{
	background: white;
	opacity:0.8;
	padding:4%;
}
#inform_user{
	background: transparent;
	padding:2%;
	margin:2% 4%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 2%;
}

#intro{
	margin-top: 2%;
	padding: 2% 4%;
	background: white;
	opacity:0.8;
	text-align: center;
}